/*
  Anatomia CSS

  h1{
    color:blue;
    font-size: 60px;
    background: gray;
  }

  - Selector
  - Declaration
  - Properties
  - Property Value
*/

h1 {
  color: green;
  font-size: 60px;
  background: gray;
}