/*
  # Funções

  - nome seguido de abre e fecha parentesis
  - recebe argumentos

  ## Exemplos
*/

@import url("http://urlaqui.com/style.css")

{
  color: rgb(255, 0, 100);
  width: calc(100% - 10px);
}