/*
  Caixas

  - Você irá perceber que (quase) tudo são caixas no CSS
  - Posicionamentos, tamanhos, espaçamentos, bordas, cores
  - Caixa pode ficar ao lado uma da outra, ou acima
  - Elementos HTML são caixas
*/


h1 {
  border: 1px solid red;
  margin: 200px;
  padding: 60px;
}

